---
title: azdanov's place
layout: layouts/home.njk
description: Sharing personal experience from the software development field.
date: Last Modified
image: './img/favicon/favicon.png'
---

<p>
  Sharing personal experience from the software development field.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>
